*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #000000;
    background: #797979;
}

.container{
    width: 771px;
    margin: 0 auto;
}

.blank{
    width: 1000px;
    background: url(images/bg.jpg);
    margin: 0 auto;
    padding-bottom: 100px;
}

.blank .blank-top{
    display: flex;
    justify-content: space-between;
    padding: 0 55px 0 75px;
}

.blank-top__logo{
    width: 131px;
    padding-top: 75px;
}

.blank-top__logo_img{
    width: 254px;
    margin-top: 48px;
}

.blank__title{
    width: 218px;
    margin: 0 auto 60px;
}

.blank-about{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blank-about__item{
    display: flex;
    align-items: flex-end;
    margin-bottom: 23px;
}
.blank-about__item_name{
    font-size: 22px;
    padding-right: 20px;
    display: flex;
    
}.blank-about__item_name span{
    padding-left: 6px;
}

.blank-about__item_content{
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Courier New';
    padding-bottom: 15px;
    border-bottom: 3px solid #000;
    padding-left: 15px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    font-size: 21px;
    font-weight: 700;
    
}

.skills input{
  margin-right: 10px;  
}

.bottom-section_title{
    font-size: 24px;
    padding-top: 40px;
}
.bottom-section_subtitle{
    font-size: 15px;
}

.blank-text__img{
    margin-top: 66px;
    margin-bottom: 45px;
}
.blank-text__title_subtitle{
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 45px;
}

.block-radio{
    width: 635px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-bottom: 85px;
  
}
